.followbtn{
    cursor: pointer;
    font-weight: bolder;
    padding: 7px 18px;
    font-size: 1rem;
    border-radius: 10px; 
    /* outline: none; */
    margin-left: 8px;
    border: none;
    color: #fff;
    background: green;
    transition: all 0.25s ease;
}
.follow-btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(1, 177, 83, 0.6) ;
}